.task-list {
  float: left;
  width: $list-width;
  text-align: center;
  background: $list-bg-color;
  margin: 10px 0;
  padding: 0;

  ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

.list-header {
  padding: 10px;
  color: $head-font-color;

  &__wait {
    background-color: $wait-color;
  }

  &__active {
    background-color: $active-color;
  }

  &__completed {
    background-color: $completed-color;
  }   
}

.list-title {
  position: relative;
  font-size: 16px;
}

.task-item {
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: 10px 50px 10px 10px;
  background: $list-item-color;
  margin: 0;

  &:hover > .actions {
    opacity: 1;
  }
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: $list-hover-bg-color;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: all .3s linear;

  .task-move-btn {
    margin: 15px;
    width: 20px;
    height: 20px;
    border: 5px solid white;
    color: white;
    background-color: white;
    border-radius: 50%;
    transition: all .15s linear;
    cursor: pointer;

    &:active, &:focus {
      outline: none;
    }

    &__wait {
      background-color: $wait-color;
      border-color: $wait-color;

      &:hover, &.active {
        border-color: white;
      } 
    }

    &__active {
      background-color: $active-color;
      border-color: $active-color;

      &:hover, &.active {
        border-color: white;
      } 
    }

    &__completed {
      background-color: $completed-color;
      border-color: $completed-color;

      &:hover, &.active {
        border-color: white;
      } 
    }

    &__remove {
      position: relative;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $list-hover-bg-color;        
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}