// Colors
$list-bg-color: white;
$list-item-color: white;
$list-hover-bg-color: #2196F3;

$wait-color: #E64A19;
$active-color: #F9A825;
$completed-color: #388E3C;

$head-font-color: white;

$list-width: 250px;